---
import { Image } from "astro:assets";
import logo from "../images/bun.png";
import bg from "../images/test.jpg";
import BoardMemberCard from "../components/BoardMemberCard.astro";
import EventCard from "../components/EventCard.astro";
import { slide } from "astro:transitions";
import { Button } from "@/components/ui/button";
import HomeLayout from "@/layouts/HomeLayout.astro";
import { directus } from "@/lib/directus";
import { readItems } from "@directus/sdk";

const events = await directus.request(
  readItems("events", {
    fields: ["*"],
    sort: ["-start_datetime"],
    limit: 1,
    filter: {
      status: "published"
    }
  })
);

const featuredEvent = events[0];

const board = await directus.request(
  readItems("board", {
    fields: ["name", "position", "image", "status", "slug"],
    sort: ["sort", "name"],
  })
)
---

<HomeLayout title="CPP Japanese Language Learners">
  <!-- Top section -->
  <div
    class="h-[65vh] w-full mb-7 bg-secondary flex justify-center items-center"
  >
    <div class="relative w-full h-full bg-secondary">
      <!-- Parent container for absolute content -->
      <div class="absolute inset-0 z-10 opacity-100">
        <div
          class="flex flex-col md:flex-row h-full max-w-screen-md px-4 mx-6 md:mx-auto items-center justify-center md:justify-between"
        >
          <!-- <Image src={logo} alt="logo" class="w-36 mb-6 md:hidden" /> -->

          <div class="flex flex-col gap-6 max-w-md">
            <div class="gap-2">
              <h3 class="text-3xl">Read, Listen, Speak,</h3>
              <h1 class="text-5xl font-bold text-foreground">
                Learn Japanese.
              </h1>
            </div>
            <p class="">
              Join the <span class="font-bold"
                >Cal Poly Pomona Japanese Language Learners</span
              >. Whether you&apos;re just starting out or are years into
              studying the language, the Japanese Language Learners are always
              welcoming new members.
            </p>
            <div class="flex flex-row gap-1">
              <a href="https://discord.com/invite/W5kxJtE3a7" target="_blank">
                <Button variant={"default"}> Register </Button>
              </a>
              <a href="/events">
                <Button
                  className="bg-transparent border-foreground hover:bg-accent hover:text-accent-foreground"
                  variant={"outline"}
                >
                  See events
                </Button>
              </a>
            </div>
          </div>
          <Image src={logo} alt="logo" class="hidden md:flex w-56" />
        </div>
      </div>
      <!-- Background image with opacity -->
      <Image src={bg} alt="bg" class="w-full h-full object-cover opacity-10" />
    </div>
  </div>
  <!-- End top section -->

  <!-- Content -->
  <div
    transition:animate={slide({ duration: "0.5s" })}
    class="flex flex-col md:max-w-3xl mx-auto my-16"
  >
    <!-- About -->
    <div class="flex flex-col pb-10 px-4 w-auto">
      <h1
        class="text-5xl font-bold text-foreground mb-4 font-display md:max-w-3xl md:mx-auto md:pr-[768px]"
      >
        About
      </h1>
      <div class="flex flex-col">
        <p class="text-foreground mb-4 md:max-w-3xl mx-auto">
          The Cal Poly Pomona Japanese Language Learners Club (CPP JLL) is a
          community dedicated to exploring Japanese language and culture in a
          variety of ways, whether it be through assisting beginners, housing
          reading and viewing groups, hosting workshops, or meeting and
          socializing with fellow learners. All skill-levels are welcome to join
          us on our Japanese-learning journey!
        </p>
        <p class="text-foreground mb-4 md:max-w-3xl text-left w-full mx-auto">
          Contact us or check us out through our <span
            class="text-blurple font-bold hover:underline"
            ><a href="https://discord.com/invite/W5kxJtE3a7" target="_blank"
              >Discord</a
            ></span
          > server or <span
            class="bg-gradient-to-r from-igOrange via-igRed to-igPurple bg-clip-text text-transparent font-bold decoration-igRed hover:underline"
            ><a href="https://www.instagram.com/cppjll/" target="_blank"
              >Instagram</a
            ></span
          > page!
        </p>
        <div class="flex flex-row gap-1 w-full">
          <a
            class="w-full"
            href="https://discord.com/invite/W5kxJtE3a7"
            target="_blank"
          >
            <Button
              variant={"outline"}
              className="border-foreground hover:bg-blurple w-full h-10"
            >
              <iconify-icon icon="simple-icons:discord" class="text-2xl mr-2"
              ></iconify-icon>
              Join the Discord
            </Button>
          </a>

          <a
            class="w-full"
            href="https://www.instagram.com/cppjll/"
            target="_blank"
          >
            <Button
              variant={"outline"}
              className="border-foreground hover:bg-gradient-to-r from-igOrange via-igRed to-igPurple w-full h-10"
            >
              <iconify-icon icon="simple-icons:instagram" class="text-xl mr-2"
              ></iconify-icon>
              Follow our Instagram
            </Button>
          </a>
        </div>
      </div>
    </div>
    <!-- End About -->

    <!-- Events -->
    <div class="flex flex-col mb-6 mx-6">
      <a class="hover:translate-x-3 transition-transform" href="/events">
        <h1 class="text-5xl font-bold text-foreground mb-4 font-display">
          Events
        </h1>
      </a>
      {
        new Date(featuredEvent.start_datetime) > new Date() ? (
          <EventCard event={featuredEvent} soonest />
        ) : (
          <div class="flex flex-col">
            <h2 class="text-foreground mb-4">
              No upcoming events. Stay tuned! ٩(๑´∀ `๑ )
            </h2>
          </div>
        )
      }
      <a href="/events">
        <Button
          size={"lg"}
          variant={"outline"}
          className="border-foreground w-full mb-4"
        >
          See All Events
        </Button>
      </a>
    </div>
    <!-- End Events -->

    <!-- Board -->
    <div class="flex flex-col mb-6 mx-6">
      <a
        class="md:max-w-3xl md:mx-auto md:pr-[768px] hover:translate-x-3 transition-transform"
        href="/board"
      >
        <h1 class="text-5xl font-bold text-foreground mb-4 font-display">
          Board
        </h1>
      </a>
      <div class="flex flex-col">
        {
          board.filter((boardMember) => boardMember.status === "active").map((boardMember) => <BoardMemberCard member={boardMember} />)
        }
      </div>
    </div>
    <!-- End Board -->
  </div>
</HomeLayout>
