---
import { Image } from "astro:assets";
const { member } = Astro.props;
import { API_URL } from "@/lib/directus";
---

<div id=`${member.slug}` class="card w-full border mb-6">
  <figure class="bg-secondary">
    <Image
      src={`${API_URL}/assets/${member.image}?width=256`}
      alt={member.name}
      width="256"
      height="256"
      class="rounded-full my-4 w-36"
    />
  </figure>
  <div class="card-body">
    <h2 class="text-3xl font-bold font-display mx-auto">
      {member.name}
    </h2>
    <h3 class="text-center text-xl mb-2 mx-auto">
      {member.position}
      {member.service && <p>{member.service}</p>}
    </h3>
    <p class="text-lg font-body mb-2 mx-auto whitespace-pre-line">
      {member.biography}
    </p>
    <div class="row-auto mx-auto space-x-2">
      <a
        href={member.discord}
        target="_blank"
        style={member.discord ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        aria-label="Discord Profile"
        ><iconify-icon icon="simple-icons:discord" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.instagram}
        target="_blank"
        style={member.instagram ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        aria-label="Instagram Profile"
        ><iconify-icon icon="simple-icons:instagram" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.github}
        target="_blank"
        style={member.github ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        aria-label="GitHub Profile"
        ><iconify-icon icon="simple-icons:github" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.linkedin}
        target="_blank"
        style={member.linkedin ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        aria-label="LinkedIn Profile"
        ><iconify-icon icon="simple-icons:linkedin" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.youtube}
        target="_blank"
        style={member.youtube ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        aria-label="YouTube Profile"
        ><iconify-icon icon="simple-icons:youtube" class="text-4xl"
        ></iconify-icon></a
      >
    </div>
  </div>
</div>
