---
import { Image } from "astro:assets";
const { member } = Astro.props;
---

<div id=`${member.slug}` class="card w-full border mb-6">
  <figure class="bg-secondary">
    <Image
      src={member.data.image}
      alt={member.data.imageAlt}
      class="rounded-full my-4 w-36"
    />
  </figure>
  <div class="card-body">
    <h1 class="text-3xl font-bold font-display mx-auto">
      {member.data.name}
    </h1>
    <h2 class="text-center text-xl mb-2 mx-auto">
      {member.data.position}
      {member.data.service && <p>{member.data.service}</p>}
    </h2>
    <p class="text-lg font-body mb-2 mx-auto">
      {member.data.bio}
    </p>
    <div class="row-auto mx-auto space-x-2">
      <a
        href={member.data.discord}
        target="_blank"
        style={member.data.discord ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        ><iconify-icon icon="simple-icons:discord" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.data.instagram}
        target="_blank"
        style={member.data.instagram ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        ><iconify-icon icon="simple-icons:instagram" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.data.github}
        target="_blank"
        style={member.data.github ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        ><iconify-icon icon="simple-icons:github" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.data.linkedin}
        target="_blank"
        style={member.data.linkedin ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        ><iconify-icon icon="simple-icons:linkedin" class="text-4xl"
        ></iconify-icon></a
      >
      <a
        href={member.data.youtube}
        target="_blank"
        style={member.data.youtube ? " " : "display:none"}
        class="btn btn-ghost hover:btn-accent w-12 normal-case text-xl hover:scale-[1.05]"
        ><iconify-icon icon="simple-icons:youtube" class="text-4xl"
        ></iconify-icon></a
      >
    </div>
  </div>
</div>
