---
import { Image } from "astro:assets"
const {event} = Astro.props
---

<a class="group" href={`events/${event.slug}`}>
    <div class="flex flex-col group-hover:scale-[1.02] transition-all">
        <Image transition:name={event.data.title} src={event.data.image.src} alt={event.data.image.alt} class="w-full mx-auto rounded-lg mb-2" width=950 height=950 />
        <h2 class="text-3xl font-bold text-accent mb-2 font-display">{event.data.title}</h2>
        <p class="italic text-accent mb-2">Date: {event.data.date.toLocaleDateString()}</p>
        <p class="text-accent mb-4">{event.data.description}</p>  
    </div>
</a>