---
import '../global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import icon from "/favicon.ico";
import { ViewTransitions } from 'astro:transitions';
import { slide } from 'astro:transitions';
const {frontmatter} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{frontmatter.title} - CPP Japanese Language Learners</title>
        <link rel="icon" href={icon} type="image/x-icon" />

        <meta property="og:title" content=`{${frontmatter.title} - CPP Japanese Language Learners` />
        <meta property="og:description" content={frontmatter.description} />
        <meta property="og:image" content={frontmatter.image} />

        <ViewTransitions />
    </head>
    <body >
        <div>
            <Navbar />
        </div> 
        <div class="flex flex-col mt-4 mb-20 mx-6 min-h-screen md:max-w-2xl md:mx-auto">    
            <div class="breadcrumbs text-accent mb-4 my-16">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li>{frontmatter.title}</li>
                </ul>
            </div>
            <h1 transition:animate={slide ({ duration: '0.3s' })} class="text-4xl font-bold text-accent mb-4 font-display">{frontmatter.title}</h1>
            <Image transition:name={frontmatter.title} src={frontmatter.image} alt={frontmatter.imageAlt} class="rounded-xl" />
            <article transition:animate={slide ({ duration: '0.5s' })} class="prose mt-4">
                <slot />
            </article>
        </div>
        <Footer />
    </body>
</html>