---
import "../global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import icon from "/favicon.ico";
import { ViewTransitions } from "astro:transitions";
import { slide } from "astro:transitions";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.data.title} - CPP Japanese Language Learners</title>
    <link rel="icon" href={icon} type="image/x-icon" />

    <meta
      property="og:title"
      content=`${frontmatter.title} - CPP Japanese Language Learners`
    />
    <meta property="og:description" content={frontmatter.data.description} />
    <meta property="og:image" content={frontmatter.data.image.src} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content="#204063" />
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3882184c8c9f429bb3bb04e4f5b4b669"}'></script>
    <!-- End Cloudflare Web Analytics -->
    <script is:inline>
      function setDarkMode(document) {
        const getThemePreference = () => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "theme-light";
        };
        const isDark = getThemePreference() === "dark";
        document.documentElement.classList[isDark ? "add" : "remove"]("dark");

        if (typeof localStorage !== "undefined") {
          const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "theme-light");
          });
          observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
          });
        }
      }

      setDarkMode(document);

      document.addEventListener("astro:before-swap", (ev) => {
        // Pass the incoming document to set the theme on it
        setDarkMode(ev.newDocument);
      });
    </script>
    <ViewTransitions />
  </head>
  <body>
    <div>
      <Navbar />
    </div>
    <div
      class="flex flex-col mt-4 mb-20 mx-6 min-h-screen md:max-w-2xl md:mx-auto"
    >
      <div class="breadcrumbs mb-4 my-16">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/events">Events</a></li>
          <li>{frontmatter.data.title}</li>
        </ul>
      </div>
      <h1
        transition:animate={slide({ duration: "0.3s" })}
        class="text-4xl font-bold mb-4 font-display"
      >
        {frontmatter.data.title}
      </h1>
      <Image
        transition:name={frontmatter.slug}
        src={frontmatter.data.image}
        alt={frontmatter.data.imageAlt}
        class="rounded-xl"
      />
      <article
        transition:animate={slide({ duration: "0.5s" })}
        class="prose mt-4 prose-a:"
      >
        <slot />
        <div class=`${frontmatter.data.slidesEmbed ? '' : 'hidden'}`>
          <h2>Event Presentation</h2>
          <div class="aspect-video">
            <iframe
              src={frontmatter.data.slidesEmbed}
              width="100%"
              height="100%"
              allowfullscreen="true"></iframe>
          </div>
          <a
            class="btn btn-outline btn-accent w-full mt-4"
            href={frontmatter.data.slidesEmbed}
            target="_blank">Open Slides</a
          >
        </div>
      </article>
    </div>
    <Footer />
  </body>
</html>
