---
import '../global.css';
import Navbar from '../components/Navbar';
import { Image } from 'astro:assets';
const {frontmatter} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{frontmatter.title} - CPP Japanese Language Learners</title>
    </head>
    <body>
        <div>
            <Navbar />
        </div>
        <h1>{frontmatter.title}</h1>
        <Image src={frontmatter.image.src} alt={frontmatter.image.alt} width=905 height=905 />
        <slot />
    </body>
</html>